{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul>
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>Due at: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li>Status: Completed</li>
      {% else %}
      <li>Status: Not Completed</li>
      {% endif %}
    </ul>

    <div>
      <a href="{% url 'index' %}">Top</a>|
      <a href="{% url 'delete' task.id %}">Delete</a>|
      <a href="{% url 'edit' task.id %}">Edit</a>|
      {% if task.saved %}
      <a href="{% url 'toggle_saved' task.id %}">保存を解除</a>
      {% else %}
      <a href="{% url 'toggle_saved' task.id %}">お気に入りに保存</a>
      {% endif %}
    </div>
  </body>

</html>